footer{
        display: flex;
            height: 9.5rem;
            background-color: #444;
            font-size: .75rem;
            color: #999;
            padding-top: 2rem rem;
            padding-bottom: 2rem;
            margin-top: 5rem;
}